<div class="ui-g ui-fluid">
    <div class="ui-messages ui-widget ui-corner-all ui-messages-success" style="margin: 0 0 1em 0;background-color: rgba(0, 113, 241, 0.842); color: white;">
        <span class="ui-messages-icon fa fa-fw fa-2x fa-check" ></span>
        <ul>
            <li>
                <span class="ui-messages-summary" style="font-size:16px">Para el buen manejo del sistema preocure, ingresar datos correctos y verdaderos sobre el articulo 
                    para que en su busqueda posterior se facilite el proceso. En los campos de seleccionar asegurese, que su seleccion sea la adecuada.</span>
            </li>
        </ul>
    </div>
    <div class="ui-g-12 ui-lg-6">
        <div class="card card-w-title">
            <h1 style="font-size: 20px; font-weight: bold;">Códigos:</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Cod. Nuevo</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input name="art_codigo" id="art_codigo" formControlName="art_codigo" type="text" pInputText
                        placeholder="Código nuevo">
                    <div *ngIf="submitted && !!f.art_codigo.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_codigo.errors.required">Campo requerido</div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="textarea">Cod. Anterior</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input maxlength="250" formControlName="art_cod_aterior" name="art_cod_aterior" id="art_cod_aterior"
                        type="text" pInputText placeholder="Código anterior">
                    <div *ngIf="submitted && !!f.art_cod_aterior.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_cod_aterior.errors.required">Campo requerido</div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Num. Acta</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input maxlength="250" formControlName="art_num_acta" name="art_num_acta" id="art_num_acta"
                        type="text" pInputText placeholder="Numero de Acta">
                    <div *ngIf="submitted && !!f.art_num_acta.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_num_acta.errors.required">Campo requerido</div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="textarea">BLD/BCA</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input maxlength="250" formControlName="art_bld" name="art_bld" id="art_bld" type="text" pInputText
                        placeholder="BLD/BCA">
                    <div *ngIf="submitted && !!f.art_bld.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_bld.errors.required">Campo requerido</div>
                    </div>
                </div><br>
            </div>
        </div>

        <div class="card card-w-title">
            <h1 style="font-size: 20px; font-weight: bold;">Caracteristicas:</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12">
                    <label for="input">Nombre:</label>
                    <input maxlength="1000" formControlName="art_bien" name="art_bien" id="art_bien" size="30px"
                        type="text" placeholder="Nombre del Articulo" pInputText />
                    <div *ngIf="submitted && !!f.art_bien.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_bien.errors.required">Campo requerido</div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-2">
                    <label for="textarea">V.Contable:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input maxlength="250" formControlName="art_valor_contable" name="art_valor_contable"
                        id="art_valor_contable" size="10px" type="text" placeholder="Valor Contable" pInputText />
                    <div *ngIf="submitted && !!f.art_valor_contable.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_valor_contable.errors.required">Campo requerido</div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Color:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input maxlength="250" formControlName="art_color" name="art_color" id="art_color" size="30px"
                        type="text" placeholder="Color del Articulo" pInputText />
                    <div *ngIf="submitted && !!f.art_color.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_color.errors.required">Campo requerido</div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="textarea">Material:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input maxlength="250" formControlName="art_material" name="art_material" id="art_material"
                        size="30px" type="text" placeholder="Material del Articulo" pInputText />
                    <div *ngIf="submitted && !!f.art_material.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_material.errors.required">Campo requerido</div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="textarea">Serie:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input maxlength="250" formControlName="art_serie" name="art_serie" id="art_serie" size="30px"
                        type="text" placeholder="Serie del Articulo" pInputText />
                    <div *ngIf="submitted && !!f.art_serie.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_serie.errors.required">Campo requerido</div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label for="input">Descripción:</label>
                    <textarea maxlength="5000" formControlName="art_descripcion" name="art_descripcion"
                        id="art_descripcion" [rows]="4" [cols]="100" placeholder="Descripción, correspondiente al articulo." pInputTextarea autoResize="autoResize"></textarea>
                    <div *ngIf="submitted && !!f.art_descripcion.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_descripcion.errors.required">Campo requerido</div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="card card-w-title">
            <h1 style="font-size: 20px; font-weight: bold;">Propiedades:</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Ubicación:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <select class='input select' formControlName="art_aula" name="art_aula" id="art_aula">
                        <option value="BUENO">BUENO</option>
                        <option value="MALO">MALO</option>
                        <option value="EN REPARACION">EN REPARACION</option>
                        <option value="DADO DE BAJA">DADO DE BAJA</option>
                    </select>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="textarea">Modelo:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <select class='input select' formControlName="art_modelo" name="art_modelo" id="art_modelo">
                        <option value="BUENO">BUENO</option>
                        <option value="MALO">MALO</option>
                        <option value="EN REPARACION">EN REPARACION</option>
                        <option value="DADO DE BAJA">DADO DE BAJA</option>
                    </select>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Marca:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <select class='input select' formControlName="art_marca" name="art_marca" id="art_marca">
                        <option value="BUENO">BUENO</option>
                        <option value="MALO">MALO</option>
                        <option value="EN REPARACION">EN REPARACION</option>
                        <option value="DADO DE BAJA">DADO DE BAJA</option>
                    </select>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="textarea">Cuenta Contable:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <select class='input select' formControlName="art_cuenta_contable" name="art_cuenta_contable"
                        id="art_cuenta_contable">
                        <option value="BUENO">BUENO</option>
                        <option value="MALO">MALO</option>
                        <option value="EN REPARACION">EN REPARACION</option>
                        <option value="DADO DE BAJA">DADO DE BAJA</option>
                    </select>
                </div>
                <div class="ui-g-12">
                    <label for="input">Dimensiones:</label>
                    <input maxlength="250" formControlName="art_dimensiones" name="art_dimensiones" id="art_dimensiones"
                        size="10px" type="text" placeholder="Dimensiones del Articulo ejm: 5cm x 10cm" pInputText />
                    <div *ngIf="submitted && !!f.art_dimensiones.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_dimensiones.errors.required">Campo requerido</div>
                    </div>
                </div><br>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
        <div class="card card-w-title">
            <h1 style="font-size: 20px; font-weight: bold;">Fechas:</h1>
            <div class="ui-g">
                <div class="ui-g-12">
                    <label for="input">Fecha de Ingreso:</label>
                    <p-calendar formControlName="art_fecha_ing" name="art_fecha_ing" id="art_fecha_ing"
                        [(ngModel)]="date1" [showIcon]="true"></p-calendar>
                    <div *ngIf="submitted && !!f.art_fecha_ing.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_fecha_ing.errors.required">Campo requerido</div>
                    </div>
                </div><br>
                <div class="ui-g-12">
                    <label for="input">Fecha de Depresiación:</label>
                    <p-calendar formControlName="art_fecha_depre" name="art_fecha_depre" id="art_fecha_depre"
                        [(ngModel)]="date2" [showIcon]="true"></p-calendar>
                    <div *ngIf="submitted && !!f.art_fecha_depre.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_fecha_depre.errors.required">Campo requerido</div>
                    </div>
                </div><br>
            </div>
        </div>
        <div class="card card-w-title">
            <h1 style="font-size: 20px; font-weight: bold;">Información:</h1>
            <div class="ui-g">
                <div class="ui-g-12">
                    <label for="input">Institución:</label><br>
                    <select style="width: 400px;" class='input select' formControlName="art_empresa" name="art_empresa"
                        id="art_empresa" aria-placeholder="Empresa">
                        <option value="SENESCYT">SENESCYT</option>
                        <option value="SECAP">SECAP</option>
                        <option value="ISTA">ISTA</option>
                        <option value="MUNICIPIO">MUNICIPIO</option>
                        <option value="SPK">SPK</option>
                        <option value="INFA">INFA</option>
                    </select><p-button label="Nuevo" ></p-button>
                </div>
                <div class="ui-g-12">
                    <label for="textarea">Categoría:</label><br>
                    <select style="width: 400px;" class='input select' formControlName="art_categoria"
                        name="art_categoria" id="art_categoria">
                        <option value="MUEBLES">MUEBLES</option>
                        <option value="EQ. COMPUTACIÓN">EQ. COMPUTACIÓN</option>
                        <option value="VEHÍCULOS">VEHÍCULOS</option>
                    </select><p-button label="Nuevo" ></p-button>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="input">Estado:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <select class='input select' formControlName="art_marca" name="art_marca" id="art_marca">
                        <option value="BUENO">BUENO</option>
                        <option value="MALO">MALO</option>
                        <option value="EN REPARACION">EN REPARACION</option>
                        <option value="DADO DE BAJA">DADO DE BAJA</option>
                    </select>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <label for="textarea" style="font-size: 13px;">Conciliación:</label>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input maxlength="250" formControlName="art_conciliacion" name="art_conciliacion"
                        id="art_conciliacion" size="15px" id="input" type="text" placeholder="Conciliación del Articulo"
                        pInputText />
                    <div *ngIf="submitted && !!f.art_conciliacion.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_conciliacion.errors.required">Campo requerido</div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <label for="input">Observación:</label>
                    <textarea maxlength="5000" formControlName="art_observacion" name="art_observacion"
                        id="art_observacion" [rows]="4" [cols]="100" placeholder="Observación, correspondiente al registro articulo."
                        pInputTextarea autoResize="autoResize"></textarea>
                    <div *ngIf="submitted && !!f.art_observacion.errors" class="invalid-feedback">
                        <div *ngIf="!!f.art_observacion.errors.required">Campo requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; display:flex; align-items: center; justify-content: center;">
            <button style="margin: 10px" pButton type="button" label="Guardar"></button>
        </div>
    </div>
</div>