<br>
<div class="container">
    <div class="columna" >
            <button  style="margin: 10px" pButton type="button" (click)='listarInventario()' label="LISTAR"></button>
    </div>
    <div class="columna" style="float: right; text-align:right;" >
            <input style="margin: 10px; width: 40%;" type = "text" pInputText [(ngModel)]="parametro" placeholder="Ingrese el campo a buscar">
            <button style="margin: 10px"  pButton type="button" (click)='buscarporParametro()' label="BUSCAR"></button>
    </div>
</div>
<br><br><br><br>
<div class="datagrid" >
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 >Asignaciones</h1>
            <p-table [columns]="cols" [value]="cars1" selectionMode="single" dataKey="vin" [(selection)]="selectedCar"
                     [paginator]="true" [rows]="10" [responsive]="true">
                <ng-template pTemplate="caption">
                    Lista de asignaciones:
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th >Nombre</th>
                        <th >Apellido</th>
                        <th >Departamento</th>
                        <th >Articulo</th>
                        <th >Codigo</th>
                        <th >Fecha</th>
                        <th >Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData" *ngFor="let inv of inventarios;">
                        <td align="center">{{inv.inv_doc_nombre}}</td>
                        <td align="center">{{inv.inv_doc_apellido}}</td>
                        <td align="center">{{inv.inv_doc_departamento}}</td>
                        <td align="center">{{inv.inv_art_descripcion}}</td>
                        <td align="center">{{inv.inv_art_codigo}}</td>
                        <td align="center">{{inv.inv_fecha}}</td>
                        <td align="center">
                            <button (click)='eliminarporId(inv);' style="margin:10px; height:25px; width:30px" pButton type="button" ><i class="pi pi-trash"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>