<br>
<div class="container">
    <div class="columna">
        <button *ngIf="bandera==true" style="margin: 10px" pButton type="button" (click)='volver()'
            label="VOLVER"></button>
        <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='listarDocente()'
            label="LISTAR"></button>
    </div>
    <div class="columna" style="float: right; text-align:right;">
        <input *ngIf="!bandera==true" style="margin: 10px; width: 40%;" type="text" pInputText [(ngModel)]="parametro"
            placeholder="Ingrese el campo a buscar">
        <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='buscarporParametro()'
            label="BUSCAR"></button>

    </div>
    <br>
</div>
<br><br><br>
<div *ngIf="!bandera==true" class="datagrid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Docentes</h1>
            <p-table  #dt
                [columns]="cols" 
                [value]="docentes" 
                [lazy]="true" 

                (onLazyLoad)="loadCarsLazy($event)"
                (onFilter)="columnFilter($event)" 
                [paginator]="true" 
                (onRowSelect)="onRowSelect($event)"
                
                [rows]="numerofilas" 
                [filterDelay]="400" 
                
                [totalRecords]="totalrecords" 
                [loading]="this.loading"
                selectionMode="single" 
                
                dataKey="per_identificacion" 
                
                [(selection)]="selectedDocente"
                [scrollable]="true" 
                [style]="{width:'100%'}" 
                scrollHeight="400px">
                
                <ng-template pTemplate="caption">
                    Lista de Docentes:
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width:150px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let doc of columns">
                            {{doc.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" style="font-size: smaller; font-weight: bold;">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<!-- <div *ngIf="!bandera==true" class="datagrid" >
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 >Docentes</h1>
            <p-table [columns]="cols" [value]="docentes" selectionMode="single" dataKey="vin" [(selection)]="selectedCar"
                     [paginator]="true" [rows]="10" [responsive]="true">
                <ng-template pTemplate="caption">
                    Lista de docentes:
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width:10%;" align="center">Cedula</th>
                        <th style="width:20%;" align="center">Nombre</th>
                        <th style="width:20%;" align="center">Nombre 2</th>
                        <th style="width:20%;" align="center">Apellido</th>
                        <th style="width:10%;" align="center">Telefono</th>
                        <th style="width:15%;" align="center">Correo</th>
                        <th style="width:15%;" align="center">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData" *ngFor="let doc of docentes;">
                        <td align="center">{{doc.per_identificacion}}</td>
                        <td align="center">{{doc.per_primernombre}}</td>
                        <td align="center">{{doc.per_segundonombre}}</td>
                        <td align="center">{{doc.per_primerapellido}}</td>
                        <td align="center">{{doc.per_celular}}</td>
                        <td align="center">{{doc.per_correo}}</td>
                        <td align="center">
                    <button (click)='editarporId(doc)' style="margin:10px; height:25px; width:30px" pButton type="button" ><i class="pi pi-pencil"></i></button>
                    <button (click)='eliminarporId(doc.doc_id);' style="margin:10px; height:25px; width:30px" pButton type="button" ><i class="pi pi-trash"></i></button>
                </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div> -->