<br>
<div class="container">
    <div class="columna2">
        <label> Buscar por:</label>
        <p-dropdown [options]="" [(ngModel)]="selectedArtic" placeholder="Seleccione un atributo" optionLabel="PrimerAtributo" [showClear]="true"></p-dropdown>
        <p-dropdown [options]="" [(ngModel)]="selectedArtic" placeholder="Nombre del atributo" optionLabel="SegundoAtributo" [showClear]="true"></p-dropdown>
    </div>
    <div class="columna2" style="float: right; text-align:right;">
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Busqueda" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
        </div>

    </div>
</div>

<app-actualizararticulo *ngIf="bandera==true" [art]="articuloEditar">

</app-actualizararticulo>
<br><br><br>
<div *ngIf="!bandera==true" class="datagrid" style="padding:20px; ">
    <div class="ui-g-12">

        <div class="card card-w-title">
            <h1>Articulos</h1>
            <div>
                <button *ngIf="bandera==true" style="margin: 10px" pButton type="button" (click)='volver()' label="VOLVER"></button>
                <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='listar()' label="LISTAR"></button>
                <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='editarporId()' label="MODIFICAR"></button>
            </div>
            <p-table #dt 
            [columns]="cols" 
            [value]="articulos" 
            [lazy]="true" 
            
            (onLazyLoad)="loadCarsLazy($event)" 
            (onFilter)="columnFilter($event)" 
            
            [paginator]="true" 
            (onRowSelect)="onRowSelect($event)" 
            
            [rows]="numerofilas" 
            [filterDelay]="400" 
            
            [totalRecords]="totalrecords"
            [loading]="this.loading" 
            selectionMode="single" 
            
            dataKey="art_id" 
            [(selection)]="selectedArtic" 
            [scrollable]="true" 
            [style]="{width:'100%'}" 
            scrollHeight="400px">

                <ng-template pTemplate="caption">
                    Lista de articulos:
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width:140px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                          <span class="{{col.header=='Código'?'codigo':''}}">  {{col.header}}</span>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns" style="font-size: smaller; font-weight: bold;">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>