<div class="wrapper">

    <body class="login-body" *ngIf="!logeado; else perfil">
        <div id="login-wrapper">
            <img src="assets/logo2.png">
            <div id="login-container" style="border-radius: 21px 21px 21px 21px;
                -moz-border-radius: 21px 21px 21px 21px;
                -webkit-border-radius: 21px 21px 21px 21px;
                border: 0px solid #000000;">
                <span class="title">Sistema de Inventario</span>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <input type="text" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Identificación" />
                    </div>
                    <div class="ui-g-12">
                        <input type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Contraseña" />
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <span class="remember-me">Recordar</span>
                        <input type="checkbox">
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <a href="#">Olvide Contraseña</a>
                    </div>
                    <div class="ui-g-12">
                        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" (click)="logeado=true" routerLink="/Inicio">
                            <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
                            <span class="ui-button-text ui-c">Iniciar Sesión</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="login-footer">Desarrollado en 2019</div>
            <br><br>
        </div>
    </body>
    <ng-template #perfil>
        <div class="wrapper" [ngClass]="{'sidebar-inactive-l':menuInactiveDesktop, 'sidebar-active-m':menuActiveMobile}">
            <div class="topbar clearfix" style="background: rgba(0, 53, 109, 0.877);">
                <a id="omega-menu-button" href="#" (click)="toggleMenu($event)">
                    <span class="fa fa-bars"></span>
                </a>
                <span class="topbar-title"></span>
                <a id="options-menu-button" href="#" (click)="toggleTopMenu($event)">
                    <span class="fa fa-ellipsis-h"></span>
                </a>
                <div id="topbar-icons" class="animated" [ngClass]="{'topbar-icons-visible flipInX':topMenuActive,'flipOutX':topMenuLeaving}">
                    <a href="#">
                        <span class="topbar-item-text">Configuración</span>
                        <span class="topbar-icon fa fa-gear"></span>
                    </a>
                    <a href="#">
                        <span class="topbar-item-text">Cuenta</span>
                        <span class="topbar-icon fa fa-user"></span>
                    </a>
                </div>
            </div>
            <div class="sidebar" (click)="onMenuClick()">
                <p-scrollPanel #scroller [style]="{height: '100%'}">
                    <div class="sidebar-scroll-content">
                        <div class="logo" style="color: rgba(255, 255, 255, 0.795);">
                            <span style="font-size: 15px; font-family: Helvetica;"> <b>INVENTARIO</b> </span>
                        </div>
                        <div class="profile">
                            <img src="assets/layout/images/log.png" alt="" />
                            <a id="profile-button" href="#" (click)="toggleProfile($event)">
                                <span class="username"><i class="fa fa-fw fa-cog"></i>Usuario</span>
                            </a>
                            <ul [@submenu]="profileActive ? 'visible' : 'hidden'">
                                <li><a href="#"><i class="fa fa-fw fa-sliders"></i><span>Cuenta</span></a></li>
                                <li><a href="#"><i class="fa fa-fw fa-bell"></i><span>Notificaciones</span></a></li>
                                <li><a href="#"><i class="fa fa-fw fa-sign-out"></i><span>Cerrar Sesión</span></a></li>
                            </ul>
                        </div>
                        <app-menu></app-menu>
                    </div>
                </p-scrollPanel>
            </div>
            <div class="main">
                <router-outlet></router-outlet>
            </div>
            <div class="footer" style="display: flex;justify-content: center;align-items: center;">
                <span class="footer-text">Sistema de Inventario 2019 - Instituto Superior Tecnológico del Azuay</span>
            </div>
        </div>
    </ng-template>
</div>