
<br>
<div class="container">
    <div class="columna" >
        <button *ngIf="bandera==true" style="margin: 10px" pButton type="button" (click)='volver()' label="VOLVER"></button>
            <button *ngIf="!bandera==true" style="margin: 10px" pButton type="button" (click)='listarBodega()' label="LISTAR"></button>
    </div>
    <div class="columna" style="float: right; text-align:right;">
        <input *ngIf="!bandera==true" style="margin: 10px" type = "text" pInputText [(ngModel)]="nombre" placeholder=" Ingrese el nombre">
        <button *ngIf="!bandera==true" style="margin: 10px"  pButton type="button" (click)='buscarporNombre()' label="BUSCAR"></button>
        
    </div>
    <br>
</div>
<app-actualizararticulo *ngIf="bandera==true" [art]="articuloEditar">

</app-actualizararticulo>
<br><br><br>
<div *ngIf="!bandera==true" class="datagrid" >
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 >Bodegas</h1>
            <p-table [columns]="cols" [value]="cars1" selectionMode="single" dataKey="vin" [(selection)]="selectedCar"
                     [paginator]="true" [rows]="10" [responsive]="true">
                <ng-template pTemplate="caption">
                    Lista de bodegas:
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

