.input {
    background: rgba(0, 0, 0, 0.2);
    display: block;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    border-width: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  
  
    h6 {
      font-weight: 100;
      color: blueviolet;
      font-weight: 100;
      font-size: 2em;
      margin: 0;
      
    }
  
    .input {
      background: rgba(0, 0, 0, 0.2);
      display: block;
      height: 50px;
      width: 100%;
      margin: 10px 0;
      padding: 0 10px;
      border-width: 0;
      box-sizing: border-box;
      border: none;
      outline: none;
      box-shadow: none;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    
    ::-webkit-input-placeholder {
      
      color: rgba(255, 255, 255, 0.8);
      font-size: 90%;
    }
    
  
    :-moz-placeholder {
      color: rgba(255, 255, 255, 0.8);
      font-size: 90%;
    }
    
    
    ::-moz-placeholder {
      color: rgba(255, 255, 255, 0.8);
      font-size: 90%;
    }
    
    :-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.8);
      font-size: 90%;
    }
    
    
    ::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.8);
      font-size: 90%;
    }
    
    
    :placeholder-shown {
      color: rgba(255, 255, 255, 0.8);
      font-size: 90%;
    }
    
    input,
    select,
      
    .input.submit {
      background-color: blue;
      color: #ffff;
      font-size: 100%;
      height: 50px;
      box-shadow: 0 5px rgba(0, 0, 0, 0.5);
      transition: all 0.1s, -webkit-transform 0s 0.6s;
      transition: all 0.1s, transform 0s 0.6s;
      transition: all 0.1s, transform 0s 0.6s, -webkit-transform 0s 0.6s;
    }
    .input.submit:active {
      margin-top: 15px;
      box-shadow: 0 0 rgba(0, 0, 0, 0.5);
    }
    
    .input.form-error {
      -webkit-animation: error 0.8s ease;
              animation: error 0.8s ease;
      background: rgba(0, 0, 0, 0.7);
    }
    
    select option {
      transition: background 1s, width 0s;
      
      border: none;
      box-shadow: none;
      outline: none;
    }
    
    select option:disabled {
      font-style: italic;
      color: rgba(255, 255, 255, 0.9);
      font-size: 90%;
    }
    
    .input {
      transition: -webkit-transform 0s 1s;
      transition: transform 0s 1s;
      transition: transform 0s 1s, -webkit-transform 0s 1s;
    }
    
    .form-submitted .input {
      -webkit-transform: translateX(150%);
              transform: translateX(150%);
      opacity: 0;
      transition: all 0.5s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      transition: all 0.5s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      transition: all 0.5s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
    .form-submitted .input:nth-child(1) {
      transition-delay: 0.1s;
    }
    .form-submitted .input:nth-child(2) {
      transition-delay: 0.2s;
    }
    .form-submitted .input:nth-child(3) {
      transition-delay: 0.3s;
    }
    .form-submitted .input:nth-child(4) {
      transition-delay: 0.4s;
    }
    .form-submitted .input:nth-child(5) {
      transition-delay: 0.5s;
    }
    
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    }
    
    @media (max-width: 600px) {
      #form-container.expand {
        height: 100%;
        width: 100%;
        max-width: 100%;
        overflow: initial;
        overflow-x: hidden;
        bottom: 0;
      }
    
      h1 {
        font-size: 300%;
      }
    
      .icon:hover::before {
        -webkit-animation: none;
                animation: none;
      }
    
      .form-overlay {
        display: none;
        transition: none;
      }
    }
    @-webkit-keyframes error {
      0%,
      100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      10%,
      30%,
      50%,
      70%,
      90% {
        -webkit-transform: translateX(-6px);
                transform: translateX(-6px);
      }
      20%,
      40%,
      60%,
      80% {
        -webkit-transform: translateX(6px);
                transform: translateX(6px);
      }
    }
    @keyframes error {
      0%,
      100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      10%,
      30%,
      50%,
      70%,
      90% {
        -webkit-transform: translateX(-6px);
                transform: translateX(-6px);
      }
      20%,
      40%,
      60%,
      80% {
        -webkit-transform: translateX(6px);
                transform: translateX(6px);
      }
    }
    @-webkit-keyframes wiggle {
      0%,
      100% {
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
      }
      50% {
        -webkit-transform: rotate(15deg);
                transform: rotate(15deg);
      }
    }
    @keyframes wiggle {
      0%,
      100% {
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
      }
      50% {
        -webkit-transform: rotate(15deg);
                transform: rotate(15deg);
      }
    }
    
    