<div *ngIf="bandera==false" style="padding:50px 300px; width: 100%" >
    <h6 class='pre'>INGRESE EL ARTICULO:</h6>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <input maxlength="30" class="input name" type="text" formControlName="art_codigo" placeholder="Codigo" name="art_codigo" id="art_codigo">
      <div *ngIf="submitted && !!f.art_codigo.errors" class="invalid-feedback">
              <div *ngIf="!!f.art_codigo.errors.required">Campo requerido</div>
      </div>
      <input maxlength="50" class="input email" type="text" formControlName="art_descripcion" placeholder="Descripcion" name="art_descripcion" id="art_descripcion">
      <div *ngIf="submitted && !!f.art_descripcion.errors" class="invalid-feedback">
              <div *ngIf="!!f.art_descripcion.errors.required">Campo requerido</div>
      </div>
      <input maxlength="50" class="input name" type="text" formControlName="art_ubicacion" placeholder="Ubicacion" name="art_ubicacion" id="art_ubicacion">
      <div *ngIf="submitted && !!f.art_ubicacion.errors" class="invalid-feedback">
              <div *ngIf="!!f.art_ubicacion.errors.required">Campo requerido</div>
      </div>
      <select class='input select' formControlName="art_estado" name="art_estado" id="art_estado">
          <option value="BUENO">BUENO</option>
          <option value="MALO">MALO</option>
          <option value="EN REPARACION">EN REPARACION</option>
      </select>
      <div *ngIf="submitted && !!f.art_estado.errors" class="invalid-feedback">
              <div *ngIf="!!f.art_estado.errors.required">Campo requerido</div>
      </div>
      <button pButton class='input submit' label="Guardar"></button>
    </form>
  </div>

<div *ngIf="!bandera==false" class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <p>{{mensaje}}</p>
    </div>
</div>
