<br>
<div class="container" style="background-color: white; height: 60px;">
    
    <div class="columna">
        <button *ngIf="bandera1==true" style="margin: 10px" pButton type="button" (click)='listarDocente()'
            label="LISTAR"></button>
        <button *ngIf="bandera2==true" style="margin: 10px" pButton type="button" (click)='listarArticulo()'
            label="LISTAR"></button>
        <button *ngIf="bandter==true" style="margin: 10px" pButton type="button" (click)='terminarRegistro()'
            label="TERMINAR"></button>
            <button *ngIf="activo==true" style="margin: 10px" pButton type="button" kendo-button
                (click)="pdf.saveAs('reporte.pdf')" label="IMPRIMIR"></button>
    </div>
    <div class="columna" style="float: right; text-align:right;">
        <input *ngIf="bandera3==false" style="margin: 10px; width: 40%;" type="text" pInputText [(ngModel)]="parametro"
            placeholder="Ingrese el campo a buscar">
        <button *ngIf="bandera1==true" style="margin: 10px" pButton type="button" (click)='buscarporParametro()'
            label="BUSCAR"></button>
        <button *ngIf="bandera2==true" style="margin: 10px" pButton type="button" (click)='buscarporAula()'
            label="BUSCAR"></button>
    </div>
    <br>
</div>
<br><br>
<div class="ui-g" *ngIf="bandera1==true">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1 *ngIf="bandera1==true">Docentes</h1>
            <p-table  #dt
                [columns]="cols" 
                [value]="docentes" 
                [lazy]="true" 

                (onLazyLoad)="loadDocentesLazy($event)"
                (onFilter)="columnFilter($event)" 
                [paginator]="true" 
                (onRowSelect)="onRowSelect($event)"
                
                [rows]="10" 
                [filterDelay]="400" 
                
                [totalRecords]="totaldocentes" 
                [loading]="this.loading"
                selectionMode="single" 
                
                dataKey="per_identificacion" 
                
                [(selection)]="selectedDocente"
                [scrollable]="true" 
                [style]="{width:'100%'}" 
                scrollHeight="400px">>
                
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let doc of columns" style="width:150px; align-items: center;">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" [pSelectableRow]="rowData"  style="font-size: smaller; font-weight: bold; align-items: center;" *ngFor="let doc of docentes">
                        <td>{{doc.per_identificacion}}</td>
                        <td>{{doc.per_primernombre}}</td>
                        <td>{{doc.per_primerapellido}}</td>
                        <td>{{doc.per_celular}}</td>
                        <td>{{doc.per_correo}}</td>
                        <td>
                            <button (click)='seleccionarDocente(doc)' style="margin:10px; height:25px; width:30px"
                                pButton type="button"><i class="pi pi-check"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div *ngIf="bandera2==true" class="datagrid" style="padding:20px;">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Articulos</h1>
            <p-table #dt
                [columns]="cols2"
                [value]="articulos" 
                [lazy]="true" 
                
                (onLazyLoad)="loadArticulosLazy($event)"
                (onFilter)="columnFilter($event)" 
                [paginator]="true" 
                
                (onRowSelect)="onRowSelect($event)"
                [rows]="10"
                [filterDelay]="400" 
                
                [totalRecords]="totalrecords" 
                [loading]="this.loading"
                selectionMode="single" 
                dataKey="art_id" 
                
                [(selection)]="selectedArticulo"
                [scrollable]="true" 
                [style]="{width:'100%'}" 
                scrollHeight="400px">

                <ng-template pTemplate="caption">
                    Selecciona los articulos:
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns" style="width:140px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Ubicación Destino</th>
                        <th>Detalle</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr class="alt" style="font-size: smaller; font-weight: bold; align-items: center;" *ngFor="let art of articulos">
                        <td>{{art.art_codigo}}</td>
                        <td>{{art.art_bien}}</td>
                        <td>{{art.art_estado}}</td>
                        <td>{{art.art_aula}}</td>
                        <td>{{art.art_asignado}}</td>
                        <td>
                            <button (click)='seleccionarArticulo(art);'
                                style="margin:10px; height:25px; width:30px" pButton type="button"><i
                                    class="pi pi-check"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<kendo-pdf-export #pdf paperSize="A4" margin="5mm">

    <div *ngIf="bandera3==true" style="background-color: white; padding:20px; width: 100% display: flex; align-items: center; text-align: center;">
        <div><img src="../../../assets/logoOfi.png" width="150px" height="120px"></div>
        <p style="align-items: center;"><br>
            INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY
            <br><br>ACTA DE RESPONSABILIDAD DE BIENES
        </p>
        <div style="display: flex; justify-content: left; text-align: left;">
            <p > En la ciudad de Cuenca a los {{dia}} del mes {{mes}} de {{aa}} se procede a la suscripción de la presente
                Acta de Responsabilidad de Bienes. Por una parte el Magt. Marcelo Aguilera Crespo, Rector del Instituto
                Superior Tecnológico del Azuay, y por otra parte el /la docente {{doc.per_primernombre}}
                {{doc.per_primerapellido}} se procede a la entrega de los bienes que a continuación detalla:
            </p>
        </div>
        <div style="display: flex; justify-content: left; text-align: left;">
            <p> Entregado por: AGUILERA CRESPO MARCELO SEBASTIAN</p><br><br>
        </div>
        <div style="display: flex; justify-content: left; text-align: left;">
            <p> Recibido por: {{doc.per_primerapellido}} {{doc.per_primernombre}} {{doc.per_segundonombre}}</p>
        </div>
        <p-table 
        [columns]="cols" 
        [value]="inventarios" 
        selectionMode="single" 
        dataKey="inv_art_codigo" 
        [(selection)]="selectedInventario"
        [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Especificaiones</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serie</th>
                    <th>Estado</th>
                    <th>Ubicación Destino</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr class="alt" *ngFor="let inv of inventarios">
                        <td>{{inv.inv_art_codigo}}</td>
                        <td>{{inv.inv_art_bien}}</td>
                        <td>{{inv.inv_art_color}}</td>
                        <td>{{inv.inv_art_marca}}</td>
                        <td>{{inv.inv_art_modelo}}</td>
                        <td>{{inv.inv_art_serie}}</td>
                        <td>{{inv.inv_estado}}</td>
                        <td>{{inv.inv_art_ubicacion_destino}}</td>
                </tr>
            </ng-template>
        </p-table>
        <!-- <table BORDER=1 style="display: flex; align-items: center; justify-content: center;">
            <thead>
                <tr style="width:20%; align-items: center;">
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Especificaiones</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serie</th>
                    <th>Estado</th>
                    <th>Ubicación Destino</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inv of inventarios;" style="align-items: center;">
                    <td>{{inv.inv_art_codigo}}</td>
                    <td>{{inv.inv_art_bien}}</td>
                    <td>{{inv.inv_art_color}}</td>
                    <td>{{inv.inv_art_marca}}</td>
                    <td>{{inv.inv_art_modelo}}</td>
                    <td>{{inv.inv_art_serie}}</td>
                    <td>{{inv.inv_estado}}</td>
                    <td>{{inv.inv_art_ubicacion_destino}}</td>
                </tr>
            </tbody>
        </table> -->
        <br>
        <p> Declaro que he recibido los bienes institucionales que se me han asignado, por lo que me conprometo a su
            custodia, conservación y devolución de los bienes detallados.</p>
        <br><br><br>
        <p style="align-items: center;"><br><br>______________________ <br>{{doc.per_primernombre}} {{doc.per_primerapellido}}<br>CI:
            {{doc.per_identificacion}}<br>Docente|<br></p>
        '<br><br>|
        <p style="align-items: center;"><br><br>______________________ <br> Aguilera Crespo Marcelo<br>CI: 0104234216<br>Rector<br>
        </p>


    </div>
</kendo-pdf-export>