<body class="landing-body">
        
    <div class="landing-wrapper">
        
        <div class="container">
            <div class="container" style="display: flex;justify-content: center;align-items: center;">
                <div  class="p-col" style="display: flex;justify-content: center;align-items: center;margin: 5px;" >
                    <p-galleria [images]="images" panelWidth="800" panelHeight="400" [showCaption]="true" ></p-galleria>
                </div>
            </div>
        </div>
        
        <div id="features">
            <div class="features-content">
                <span class="feature-title">Sistema de Inventario - Modulos</span>
                <p>Descripcion detallada, sobre la funcion de cada modulo dentro del sistema del inventario.</p>
                    
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                        <img src="assets/layout/images/landing/section2_1.png" class="feature-icon">
                        <span class="feature-text">
                            <span>Asignación</span>
                            <p>Se realiza la respectiva asignación de uno o varios articulos a un encargado.</p>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <img src="assets/layout/images/landing/section2_4.png" class="feature-icon">
                        <span class="feature-text">
                            <span>Articulos</span>
                            <p>Se permite la gestión de un articulo: Eliminar, Ingresar, Ver y Modificar.</p>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <img src="assets/layout/images/landing/section2_3.png" class="feature-icon">
                        <span class="feature-text">
                            <span>Categorias</span>
                            <p>Se realiza la respectiva categorización de los articulos.</p>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <img src="assets/layout/images/landing/section2_2.png"class="feature-icon">
                        <span class="feature-text">
                            <span>Bodegas</span>
                            <p>Se realiza control sobre los articulos en su respectiva bodega.</p>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <img src="assets/layout/images/landing/section2_5.png" class="feature-icon">
                        <span class="feature-text">
                            <span>Docentes</span>
                            <p>Se permite la gestión de un docente: Eliminar, Ingresar, Ver y Modificar.</p>
                        </span>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <img src="assets/layout/images/landing/section2_6.png" class="feature-icon">
                        <span class="feature-text">
                            <span>Soporte</span>
                            <p>Informacón sobre el sistema y soporte para obtener un sistema funcional</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="mobile">
            <div class="mobile-content">
                <span class="title">Es hora de trabajar!</span>
                <span class="subtitle">Crea, Modifica, Elimina y Visualiza cada articulo existente.</span>
                <img src="assets/layout/images/landing/cs.png">
                <a class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" role="button" aria-disabled="false">
                    <span class="ui-button-text ui-c">Nuevo Articulo</span>
                </a>
            </div>
        </div>
        
        <div id="pricing">
            <div class="pricing-content">
                <span class="pricing-title">Empresas</span>
                <p>Información sobre las distintas empresas y los articulos pertenecientes a cada una.</p>
                    
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                        <div class="pricing-basic pricing-box">
                            <span class="pricing-name">Tecnologico del Azuay</span>
                            <div class="pricing-fee">10000</div>
                            
                            <p>Dirección:</p>
                            <p>Correo:</p>
                            <p>Contacto:</p>
                            <p>Articulos: 10000</p>
                        </div>
                    </div>
                    
                    <div class="ui-g-12 ui-md-4">
                        <div class="pricing-standard pricing-box">
                            <span class="pricing-name">Secap</span>
                            <div class="pricing-fee">5000</div>
                            
                            <p>Dirección:</p>
                            <p>Correo:</p>
                            <p>Contacto:</p>
                            <p>Articulos: 5000</p>
                        </div>
                    </div>
                    
                    <div class="ui-g-12 ui-md-4">
                        <div class="pricing-professional pricing-box">
                            <span class="pricing-name">Otros</span>
                            <div class="pricing-fee">300</div>
                            
                            <p>Dirección: SN</p>
                            <p>Correo: SN</p>
                            <p>Contacto: SN</p>
                            <p>Articulos: 3000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        OmegaLanding = {
            addClass: function(element, className) {
                if (element.classList)
                    element.classList.add(className);
                else
                    element.className += ' ' + className;
            },

            removeClass: function(element, className) {
                if (element.classList)
                    element.classList.remove(className);
                else
                    element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            },

            hasClass: function(element, className) {
                if (element.classList)
                    return element.classList.contains(className);
                else
                    return new RegExp('(^| )' + className + '( |$)', 'gi').test(element.className);
            },

            hideMenu: function() {
                this.removeClass(document.getElementById('menu'), 'overlay-menu');
            },

            showMenu: function() {
                this.addClass(document.getElementById('menu'), 'overlay-menu');
            }
        };

        document.getElementById('menu-button').addEventListener('click', function(e) {
            var menu = document.getElementById('menu');

            if(OmegaLanding.hasClass(menu, 'overlay-menu'))
                OmegaLanding.hideMenu();
            else
                OmegaLanding.showMenu();

            e.preventDefault();
        });

        var menuLinks = document.querySelectorAll('#menu a');
        for (i = 0; i < menuLinks.length; i++) {
            menuLinks[i].addEventListener('click', function(e) {
                OmegaLanding.hideMenu();
            });
        }
    </script>
</body>
